@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

html{
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 18px;
}

#hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 41, 0255, 0.1), rgba(0, 41, 255, 1)),
    url('./images/_11A8360.JPG') no-repeat center / cover;
    color: white;
}

#about{
    width: 100%;
    height: 100vh;
    background: #0029ff;
    color: white;
}

ul {
    list-style-type: none;
   line-height: 30px;
}

ul li:hover {
    color: #ebff00;
}

h1 {
    color: #ebff00;
    font-size: 36px;
    font-weight: bold;
}

p { 
    color: #ffffff;
    font-size: 18px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container
    {
       width: 90%;
        height: 100vh;
       max-width: 1000px;
       margin: 0 auto;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .container .info h1
    {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .container .info h2
    {
        font-size: 1.25rem;
        margin-bottom: 2rem;
        max-width: 70;
    }

    .container .info p
    {
        font-size: 1.2rem;
       max-width: 40%;
    } 

    .container .info a {
        text-decoration: none;
        display: inline-block;
        background-color: #fff;
        border-radius: 5px;
        font-size: 1.8rem; 
        padding: 0.5em 2em;
        margin-top: 2rem;
    }

#reflection {
    width: 100%;
    height: 100vh;
    background: #0029ff;
    color: white;
    max-width: 800px;
    margin: 2rem auto;
    padding: 20px;
    border-radius: 15px;
}

.reflection {
    border: 1 px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}

.reflection-content p:first-of-type {
    font-size: 1.3em;
    border-left: 4px solid #ebff00;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

footer {
    background-color: #0029ff;
    padding: 20px;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.contact-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}